<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "notebook/css/base.css" %}">
    {% block styles %} {% endblock %}
    {% block title %} <title>Notebook</title> {% endblock %}
</head>
<body>
    <header>
        <div class="first_layer">
            <a href="/notebook/my_tasks"  id="my_tasks" class="header_link">Мои задачи</a>
            <a href="/notebook/new_task" id="new_task" class="header_link">Новая задача</a>
            <a href="/notebook/account" id="account" class="header_link">Аккаунт</a>
            <a href="/notebook/logout" id="logout" class="header_link">Выйти</a>
        </div>
        <div class="second_layer">
            {% block second_layer %} {% endblock %}
        </div>
        
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>

{% block scripts %}
{% endblock %}