{% extends "notebook/base.html" %}
{% load static %}

{% block second_layer %}
    <link rel="stylesheet" href = "{% static "notebook/css/my_tasks.css" %}">
    <div id="filter_button">Фильтры и поиск</div>
{% endblock %}

{% block content %}
    <div class="menu" id="menu" style="display: none;">
        <table class="filters">
            <tr>
                <td class="ahead_task"><div class="new_marker_box"><div class="marker"></div></div></td>
                <td><label for="ahead_tasks_checkbox">Предстоящие задачи</label></td>
                <td><input type="checkbox" id="ahead_tasks_checkbox" checked="checked"></td>
            </tr>
            <tr>
                <td class="current_task"><div class="marker"></div></td>
                <td><label for="current_tasks_checkbox">Текущие задачи</label></td>
                <td><input type="checkbox" id="current_tasks_checkbox" checked="checked"></td>
            </tr>
            <tr>
                <td class="failed_task"><div class="marker"></div></td>
                <td><label for="failed_tasks_checkbox">Просроченные задачи</label></td>
                <td><input type="checkbox" id="failed_tasks_checkbox" checked="checked"></td>
            </tr>
            <tr>
                <td class="completed_task"><div class="marker"></div></td>
                <td><label for="completed_tasks_checkbox">Выполненные задачи</label></td>
                <td><input type="checkbox" id="completed_tasks_checkbox" checked="checked"></td>
            </tr>
        </table>
        <div class="find">
            <input type="text" class="find_input" id="find_input">
            <img src="{% static "notebook/images/delete.jpg" %}" alt="Стереть" class="clear_icon" id="clear_icon" style="display: none;">
        </div>
    </div>
    

    <div class="tasks" id="tasks">

        {% for task in tasks %}
        <a class="{{ task.status }}_task" href="/notebook/task/{{ task.id }}">
            <div class="text_information">
                <div class="title">{{ task.title }}</div>
                <div class="deadlines">
                    <div class="{{ task.category_class }}">{{ task.category }}</div>
                    <div class="time_label">{{ task.time_label }}: </div>
                    <div class="time">{{ task.deadline }}</div>
                </div>
            </div>
            <div class="marker_box">
                <div class="marker_middle_box">
                    <div class="marker"></div>
                </div>
            </div>
        </a>
        {% endfor %}
    
    </div>
    <script src="{% static "notebook/js/my_tasks.js" %}"></script>
{% endblock %}